<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmtpmxiB2MBM_ujIvHVgTY2zgXRtmXlg0</string>
	<key>GCM_SENDER_ID</key>
	<string>100731098453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthFirst.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginpage-b65af</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-b65af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100731098453:ios:404a4290089a98d3b78bdc</string>
</dict>
</plist>